#Data Files
data/row/
data/processed
*.csv

#Credentials
.env
*.pem

#Python
*.py[cod]
*$py.class
.pytest_cache
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#Jupytrt
*.ipynb_checkpoints